<%- include('partials/header') %>

<h1 class="title-text">Welcome to the ultimate Cookbook. The Potluck!</h1>
<br>

<h2 class="title-text">Cooking has always been a passion of mine since I was a child being so eager to flip burgers my mom made in the frying pan. Since becoming vegan over 6 years ago I've expanded my cooking knowledge and experience by collecting cookbooks and experimenting with ingredients. Although reading cookbooks are helpful, having a community filled with people from different places and cultures sharing their recipes within one source would help expand the knowledge of cooking not just for me but for everyone else that takes part in that community. This is the motivation that fuels this app.</h2>

  <%- include('partials/footer') %>