.brand-logo {
  margin-left: 15px;
}

.card {
  display: inline-flex;
  background-color: #fff6e8ce;
  width: 35em;
}

.cards {
  display: inline-flex;
  background-color: #fff6e8ce;
  width: 35em;
}

#avatarPhoto {
    border-radius: 50%;
}

body {
  background-image: url(https://i.imgur.com/jct7lKd.jpg);
  font-family: 'Cutive Mono', monospace;
  font-style: italic;
}

.navbar {
  background-color: rgba(212, 212, 212, 0.9);
  font-size: 20px;
}

.title-text {
  font-family: 'Chelsea Market', cursive;
  color: #FFF8EC;
  text-shadow: 3px 3px #98764ab2;
}

.btn {
  background-color: #ECA127;
}

a {
  color: #00AF65;
}

.box {
  background-color: rgba(212, 212, 212, 0.8);
}

.form-control {
  width: 500px;
}

h1 {
  text-align: center;
}

h2 {
  background-color: #fff6e8a9;
  margin: 0;
}
