<%- include('../partials/header') %>

<h3><%= title %></h3>

<% recipes.forEach(recipe => { %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.name %> </h5>
      </div>
    </div>
  <% }) %>

<%- include('../partials/footer') %>